

body {
    background-color: #00aaff;
}

.wrapper {
    background-color: #dddddd;
    padding: 20px;
    border: 2px solid #bbb;
    border-radius: 5px;
    margin-top: 20px;
}

#main {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}

#chats {
    background-color: #ddd;
    height: 500px;
    overflow: auto;
    position: relative;

}
#chatsBG {
    position: absolute;
    bottom: 95px;
    width: 95%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255,0,0,0), #ddd); /*Standard*/
}

#chats .message {
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#chats .message .username {
    font-weight: bold;
}

#chats .friend {
    background-color: #99e3ff;
}

#roomSelect {
    width: 250px;
}

#roomSelect li a {
    overflow: hidden;
    -ms-text-overflow: ellipisis;
    -o-text-overflow: ellipisis;
    text-overflow: ellipisis;
    display: block;
}

.username:hover{
    cursor: pointer;
}

.collapse > .nav {
    width: 80%;
}

.page-header {
    margin-top: 10px;
}

