

body {
    background-color: #00aaff;
}

#main {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}

#chats {
    background-color: #ddd;
}

#chats .message {
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}

#chats .message .username {
    font-weight: bold;
}

#chats .friend {
    background-color: yellow;
}

#roomSelect {
    width: 60%;
}

















/*body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

#chats .username {
    font-weight: bold;
}

#chats .message {
    background-color: #ddd;
    margin: 20px;
}

.chat:hover {
    background-color: #bbb;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}
*/
